
.gallery {
    
    width: 250px;
    background: #ecdece;
    margin:auto;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 0px;
}

.gallery img {
    
    height: auto;
    border-radius: 5px;
    padding-bottom: 20px;
    width: 250px;
}

#class {
    margin: 0 auto;
    padding: 0;
}

#class ul {
    width: auto 0;
    padding: 0;
}

#class li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 33%;
}

ul:after {
    content: "";
	display: block;
	clear: both;
}

li, #classdesc {
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.desc {
    padding: 15px;
    text-align: right;
}

.desc p {
    font-family: 'Sacramento', cursive;
    padding: 0;
    margin: 0;
    font-size: 25px;
}

#classdesc {
    padding-top: 20px;
    text-align: center;
}

#classname {
    font-size: 25px;
}

button {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 18px;
    border-style: none;
    background-color: #ecdece;
    border-radius: 10px;
    padding: 10px;
}

button:visited {
    border-style: none;
}
button:focus {
    outline: none;
}

.box1-3 {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 50px 0 0 0;
	margin: 0;
}

#registeration h1 {
   padding-top: 20px;
}

/* ----------------------------------- 599px -----------------------------------  */
/*@media (max-width: 599px) {

    #class li {
        float: none;
        width: 80%;
        margin: auto;
    }

    button {
        margin-bottom: 30px;
    }

    .home {
        padding-bottom: 0px;
    }
}

/* ----------------------------------- 600px - 767px ----------------------------------- 
@media (min-width: 600px) and (max-width: 767px) {
    .gallery, .gallery img {
        width: 100px;
    }

}

/* ----------------------------------- 786px ----------------------------------- 
@media (min-width: 768px) {
.gallery, .gallery img {
    width: 150px;
}

}

/* ----------------------------------- 1000px ----------------------------------- */
@media (max-width: 1100px) {
    .gallery, .gallery img {
        width: 200px;
    }
}