@charset "UTF-8";

/*
font-family: 'Sacramento', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Goudy Bookletter 1911', serif;

padding: top right bottom left

#ead9c3 light beige
#c9d8c5 light mint
#a8b6bf light blue
#7d4627 brown
#e4e3e1, #eeeeee grey

https://www.mudfire.com
*/ 

body {
	font-family: 'Goudy Bookletter 1911', serif;
	
	color: #534b46;
	padding: 0;
	margin: 0;
	/**background: #648880;
	background: linear-gradient(90deg, #c9d8c5, #ead9c3);**/
	/*background: linear-gradient(to right, #c9d8c5 0%,  #c9d8c5 50%, #ead9c3 50%, #ead9c3 100%), linear-gradient(to right,  #c9d8c5 0%,  #c9d8c5 50%, #ead9c3 50%, #ead9c3 100%);
	background-size: 100% 50%;
	background-position: center top, center bottom;
	background-repeat: no-repeat;*/
	min-width: 1000px;
	max-width: 100%;
	margin: 0 auto;

}

h1 {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 35px;
	font-family: 'Sacramento', cursive;
}


a {
	text-decoration: none;
	color: #534b46;
}

#heart {
	font-size: 15px;
	color: #663333;
}

#title {
	padding-bottom: 30px;
}

button {
	color: #534b46;
}

::-moz-selection {
   background-color: white;
   color: #8c7963;
}
::selection {
    background-color: white;
    color: #8c7963;
}

/* ----------------------------------- sec1 -----------------------------------  */
.sec1, .box1 {
	height: auto;
	padding: 0;
	margin: 0;
	width: 100%;
}

li a:hover {
	color: white;
}

.box1 {
	background: #d4bfaa;
}

.box1:after, .home:after {
	content: "";
	display: block;
	clear: both;
}


.menu, .home {
	margin:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 50px 30px 90px 30px;
	min-height: 100vh;
}

.menu {
	width: 15%;
	float: left;
	background: #d4bfaa;
}

.menu ul {
	padding: 0;
	padding-top: 30px;
	list-style: none;
	text-align: center;
}

.menu li {
	
	font-size: 20px;
}

#plus {
	font-size: 10px;
}

.home {
	width: 85%;
	float: left;
	background: white;
	padding-top: 0px;
}

.box1-1 {
	padding: 50px 0 50px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.box1-2 {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px 100px 0px 100px;
	height: auto;
}

/*Four values - 
border-radius: 15px 50px 30px 5px; 
(first value applies to top-left corner, 
second value applies to top-right corner, 
third value applies to bottom-right corner, 
and fourth value applies to bottom-left corner):*/

.box1-2 img {
	width: 20%;
	height: auto;
	padding: 0;
	margin: 0;
	float: left;
	display: block;
}

.box1-3 {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 50px 0 0 0;
	margin: 0;
}

#topleft {
	border-radius: 10px 0px 0px 0px; 
}
  
#topright {
	border-radius: 0px 10px 0px 0px; 
}

#bottomleft {
	border-radius: 0px 0px 0px 10px; 
}

#bottomright {
	border-radius: 0px 0px 10px 0px; 
}

.img {
	transition: filter .5s ease-in-out;
	-webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
	filter: grayscale(0%); /* FF 35+ */
	
  }
  .img:hover {
	-webkit-filter: opacity(.7);
  filter: opacity(.7);
	
  }

button:hover {
	color: white;
}



/* ----------------------------------- copyright -----------------------------------  */
.copyright {
	width: 100%;
	height: auto;
	background: #beaa97;
	padding: 0;
	margin: 0;
	color: white;
}

#cr {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
}

/* ----------------------------------- 599px -----------------------------------  */
@media (max-width: 599px) {


}

/* ----------------------------------- 600px - 767px -----------------------------------  */
@media (min-width: 600px) and (max-width: 767px) {

}

/* ----------------------------------- 786px -----------------------------------  */
@media (min-width: 768px) {

}

/* ----------------------------------- 1000px -----------------------------------  */
@media (min-width: 1000px) {



}
