#title {
    padding-bottom: 50px;
}

.box1-2 {
    text-align: center;
}

#question {
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

label {
    display: block;
    margin: 10px 0 10px 0;
    font-size: 20px;
}

input[type='text'], input[type='password'], textarea {
    background-color: #ecdece;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 18px;
    width: 80%;
    max-width: 400px;
    padding: 4px 6px;
    border: 2px dotted #d4bfaa;
    border-radius: 8px;
    margin: 5px;
    color: #534b46;
}

input[type='submit'], button, #js_send {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 18px;
    border-style: none;
    background-color: #ecdece;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    color: #534b46;
}
input:focus, textarea:focus {
    outline: none;
    background-color: #fff;
    color: #534b46;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d4bfaa;
  opacity: 1; /* Firefox */
}

#email {
    height: 300px;
}


button:focus {
    outline: none;
    background-color: #ecdece;
}

form {
    margin: 0;
    padding: 0;
}


/* ----------------------- */
.popup {
  color: #534b46;
  background-color: #665644;
  opacity: 0.9;
  /*box-shadow: -3px 3px 6px #000;*/
  padding: 0;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  min-width: 500px;
  max-width: 50%;
  position: absolute;
  top: 100;
  float: center;
  border: 3px dotted #d4bfaa;
  border-radius: 15px;
}

.popup #popup-head + div {
  /*background: rgb(255, 255, 255);
  /*background: rgba(255, 255, 255, 1);*/
  background: white;
  position: relative;
  text-align: center;
  top: 0;
  color: #534b46;
  padding: 20px;
  padding-bottom: 30px;
  margin: 30px;
  border: 3px dotted #d4bfaa;
  border-radius: 15px;
}

.popup #popup-head {
  text-align: right;
  background-color: #665644;
  padding: 0;
  margin: 10px;
  border-radius: 15px;
}

.popup h2 {
  color: #534b46;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

#popup-close {
  color: white;
}

/*.popup a {
  text-decoration: none;
  color: #fff;
}*/


