<html lang="en">

<head>
  <% include ../helpers/head %>
  <link rel="stylesheet" href="css/cart.css">
</head>

<body class="container">
  <main>
    <section class="sec1">
      <div class="box1">
        <div class="menu">
          <% include ../helpers/menu %>
        </div>
        <div class="home">
          <div class="box1-1">
            <% include ../helpers/home %>
          </div>
          <div class="box1-2">
            
            <h1 id="title">shopping cart</h1>

            <!-- <div class="prodcut-labels">
              <label class="product-image">Class</label>
              <label class="product-details"></label>
              <label class="product-removal"></label>
              <label class="product-price">Total</label>
            </div> -->

            <div class="product" id="product">
              <div id="product1-template">
                <div class="product-image">
                  <img src="images/handbuilding.png">
                </div>
                <div class="product-details">
                  <!-- <div class="product-title"> -->
                  Hand Building Class<br>Start Date: <input type="text" id="datepicker">
                  <!-- </div> -->
                  <!-- <p class="product-description">Select Dates</p> -->
                </div>
                <div class="product-removal">
                  <button id="remove-product" onclick="removeFromCart(1)">Remove</button>
                </div>
                <div class="product-price">160.00</div>
              </div>

              <div id="product2-template">
                <div class="product-image">
                  <img src="images/wheel.png">
                </div>
                <div class="product-details">
                  <!-- <div class="product-title"> -->
                  Pottery on the Wheel Class<br>Start Date: <input type="text" id="datepicker">
                  <!-- </div> -->
                  <!-- <p class="product-description">Select Dates</p> -->
                </div>
                <div class="product-removal">
                  <button id="remove-product" onclick="removeFromCart(2)">Remove</button>
                </div>
                <div class="product-price">200.00</div>
              </div>

              <div id="product3-template">
                <div class="product-image">
                  <img src="images/couple.png">
                </div>
                <div class="product-details">
                  <!-- <div class="product-title"> -->
                  Pottery Date Night<br>Start Date: <input type="text" id="datepicker">
                  <!-- </div> -->
                  <!-- <p class="product-description">Select Dates</p> -->
                </div>
                <div class="product-removal">
                  <button id="remove-product" onclick="removeFromCart(3)">Remove</button>
                </div>
                <div class="product-price">30.00</div>
              </div>

              <!-- <div class="total">
                <div class="total-item">
                  <label>Total</label>
                  <div class="total-value" id="cart-total"></div>
                </div>
              </div> -->

            </div>
          </div>
        </div>
      </div>
    </section>
    <% include ../helpers/copyright %>
    <script src="/js/cart.js"></script>
  </main>
</body>

</html>