<html lang="en">

<head>
  <% include ../helpers/head %>
  <link rel="stylesheet" href="css/cart.css">
</head>

<body class="container">
  <main>
    <section class="sec1">
      <div class="box1">
        <div class="menu">
          <% include ../helpers/menu %>
        </div>
        <div class="home">
          <div class="box1-1">
            <% include ../helpers/home %>
          </div>
          <div class="box1-2">
            <h1 id="welcome"></h1>
            <h1 id="title">shopping cart</h1>
            <!-- <div class="product"></div> -->
          </div>
        </div>
      </div>
    </section>
    <% include ../helpers/copyright %>
    <script src="/js/cart.js"></script>
  </main>
</body>

</html>