<html lang="en">

<head>
  <% include ../helpers/head %>
  <link rel="stylesheet" href="css/cart.css">
</head>

<body class="container">
  <main>
    <section class="sec1">
        <div class="box1">
          <div class="menu">
            <% include ../helpers/menu %>
          </div>
          <div class="home">
            <div class="box1-1">
              <% include ../helpers/home %>
            </div>
            <div class="box1-2">
              <h1 id="welcome"></h1>
              <h1 id="title">shopping cart</h1>
                <!-- https://codepen.io/justinklemm/pen/zAdoJ -->
                <!-- <div class="column-labels">
                    <label class="product-image"></label>
                    <label class="product-details"></label>
                    <label class="product-price">Price</label>
                    <label class="product-quantity">Quantity</label>
                    <label class="product-removal"></label>
                    <label class="product-line-price">Total</label>
                </div> -->
                
                <div class="product"></div>
                <!-- <% include ../helpers/head %>

                <div class="total">
                    <div class="total-item">
                      <label>Total</label>
                      <div class="total-value" id="cart-total"></div>
                    </div>
                </div> --> -->
            </div>
          </div>
        </div>
      </section>
      <% include ../helpers/copyright %>
      <script src="js/cart.js"></script>
  </main>
</body>

</html>