<html lang="en">
<head>
    <% include ../helpers/head %>
    <style>
      /*#map {
        width: 350px;
        height: 350px;
        margin: 0;
        padding: 0;
        float: left;
        border-radius: 25px;
        border: 3px dotted #d4bfaa;
      }*/
      #box1-3-1, #box1-3-2 {
        width: 50%;
        float: left;
        margin-top: 30px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      #box1-3-1 {
        text-align: right;
        padding-right: 50px;
        margin-top: 100px;
      }
      #box1-3-2 {
        float: right;
      }
      iframe {
        width: 350px;
        height: 350px;
        margin: 0;
        padding: 0;
        float: left;
        border-radius: 25px;
        border: 3px dotted #d4bfaa;
        /*width: 70%;
        height: 300px;
        float: center;
        margin: 0 auto;
        padding: 0;
        margin-top: 40px;
        display: block;
        border: none;
        border-radius: 25px;
        border: solid 10px #cccccc;*/
      }
    </style>
</head>
<body class="container">
  <main>
      <section class="sec1">
          <div class="box1">
          <div class="menu">
            <% include ../helpers/menu %>
          </div>
          <div class="home">
            <div class="box1-1">
              <h1>&bull; muny pottery studio &bull;</h1>
              <!--<h1 id="greeting"></h1>
              <h1 id="en">Welcome to MUNY Studio :)<br/>
              Muddy hands make beautiful art 
              <i class="fa fa-heart" id="heart" aria-hidden="true">
              </i><br/>enjoy getting dirty with us !</h1>-->
            </div>
            <div class ="box1-3">
              <h1>find us</h1>
              <div id="box1-3-1">
                <p>Gijang&ndash;eup, Gijang&ndash;gun,<br/>Busan, South Korea
                <br/>&plus;8210&ndash;5610&ndash;1754</p>
              </div>
              <div id="box1-3-2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3258.518100901408!2d129.21664631527756!3d35.24336436146825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1628363984455!5m2!1sen!2sus" loading="lazy"></iframe>
                  <!-- <div id="map">
                    <h1>google map is currently being updated</h1>
                    <style>
                      #map h1 {
                        padding-top: 120px;
                      }
                    </style>
                  </div> -->
              </div>
        </div>
        </div>
        </div>
        <script src="js/direction.js"></script>
        </section>
        <section class="copyright">
          <div id="cr">
            <p>Copyright &copy; 2019 Muny Pottery Studio. All rights reserved.</p>
          </div>
        </section>
  </main>

</body>
</html>
