<section class="copyright">
  <div id="cr">
    <p>Copyright &copy; 2021 Muny Pottery Studio. All rights reserved.</p>
  </div>
</section>

<!-- js files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!-- firebase -->
<script src="https://www.gstatic.com/firebasejs/5.9.0/firebase.js"></script>
<script src="/js/main.js"></script>