<meta charset="UTF-8">
<title>muny studio</title>

<!-- font -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Reenie+Beanie|Sacramento" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">

<!-- css -->
<link rel="stylesheet" type="text/css" href="/css/main.css"/>

<!-- js files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

<!-- firebase -->
<script src="https://www.gstatic.com/firebasejs/5.9.0/firebase.js"></script>
<script>
  var config = {
    apiKey: '<%= process.env.API_KEY %>',
    authDomain: "database-30dcf.firebaseapp.com",
    databaseURL: "https://database-30dcf.firebaseio.com/",
    projectId: "database-30dcf",
    storageBucket: "database-30dcf.appspot.com",
    messagingSenderId: "7555310310"
  };
  firebase.initializeApp(config);
</script>