<div class="box1-1">
	<h1><a href="/>&bull; muny pottery studio &bull;</a></h1>
	<div class="box1-1-1">
		<button id="cart" type="button"></button>
		<button id="google" type="button" onclick="toggleSignIn()"></button>
	</div>
</div>