<!-- <div class="product"> -->
<div class="product-image">
  <img src="images/handbuilding.png">
</div>
<div class="product-details">
  <div class="product-title">Hand Building Class</div>
  <p class="product-description">Select Dates</p>
</div>
<div class="product-price">160.00</div>
<div class="product-removal">
  <button class="remove-product">
    Remove
  </button>
</div>
<div class="product-total-price">160.00</div>
<!-- </div> -->